  :root {

  --primary-color: #ffffff;
  --secondary-color: #212121;
  --third-color: #757575;

  --contacts-color: rgba(255, 255, 255, 0.6);
  --background-secondary-color: #f5f4fa;
  --background-color: #2f303a;

  --accent-color: #2196f3;
  --btn-hover-color: #188ce8;
  --icons-color: #afb1b8;

  --overlay-color: rgba(33, 150, 243, 0.9);

  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-time: 250ms;  
}